<!--<sexport>
	<wii>
		<output path="/media/d/SDK/seeddemos/data/wii/workdir/data" />
		<image input="/media/d/SDK/seeddemos/exporter/data/input" header-type="int" res_height="600" res_width="800" />
		<music input="/media/d/SDK/seeddemos/exporter/data/input" header-type="int" />
		<sound input="/media/d/SDK/seeddemos/exporter/data/input" header-type="int" />
	</wii>
	<iph>
		<output path="/techfront/SDK/seeddemos/data/iphone/workdir/data" />
		<image input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" res_height="600" res_width="800" />
		<music input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" />
		<sound input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" />
	</iph>
	<sdl>
		<output path="/techfront/SDK/seeddemos/data/sdl/workdir/data" />
		<image input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" res_height="600" res_width="800" />
		<music input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" />
		<sound input="/techfront/SDK/seeddemos/exporter/data/input" header-type="int" />
	</sdl>
</sexport>
<!-- -->
<sexport>
	<wii>
		<output path="C:\Techfront\SDK\seeddemos\data\wii\workdir\data" />
		<image input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
	</wii>
	<iph>
		<output path="C:\Techfront\SDK\seeddemos\data\iphone\workdir\data" />
		<image input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
	</iph>
	<sdl>
		<output path="C:\Techfront\SDK\seeddemos\data\sdl\workdir\data" />
		<image input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\seeddemos\exporter\data\input" header-type="int" />
	</sdl>
</sexport>
<!-- -->
