<sexport>
	<wii>
		<output path="C:\Techfront\SDK\demos\data\wii\workdir\data" />
		<image input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
	</wii>
	<iph>
		<output path="C:\Techfront\SDK\demos\data\iphone\workdir\data" />
		<image input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
	</iph>
	<sdl>
		<output path="C:\Techfront\SDK\demos\data\sdl\workdir\data" />
		<image input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" res_height="600" res_width="800" />
		<music input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
		<sound input="C:\Techfront\SDK\demos\exporter\data\input" header-type="int" />
	</sdl>
</sexport>
